$text-color: #322f3e;
$black-light: #91648e;
$color-pink: #E6519B;
$color-salat: #F6DEA5;

$color-pink-lighteen: #AA7DA7;
$color-blue: #504276;
$color-gray: #E0E0E0;
$color-gray2: #EDEDED;
$color-menu: #2f235f;
$color-bg: #4A3F6E;
