.top-inner.top-inner_article
    .container.top-inner__header
        h1.main-title.main-title_inner.main-title_blue  Контакты
        p.top-inner__title Муниципальное автономное учреждение «Детская городская клиническая больница № 11» Сокращенное наименование: МАУ «ДГКБ № 11» 

.container
    .contacts
        .main-contact
            .main-contact__title 
                span Юридический адрес больницы:
            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), <br>г. Екатеринбург, ул. Алексеева, 7
            
            .head-doctor
                |Главный врач: 
                span Грехова Татьяна Ивановна
            
            .main-contact__title 
                span Руководство
            
            ul.main-contact__list
                li
                    |Колл центр: 
                    a(href="tel:73432285933") +7 (343) 
                        b 228-59-33
                li
                    |Факс: 
                    a(href="tel:73432463587") +7 (343) 
                        b 246-35-87
                li Электронная почта: dmb9@mail.ru
            
            .contact__title-group
                .main-title.main-title_blue.main-title_adress Поликлиническая служба
                a(href="#").link-hidden Перейти в раздел               
        
.dropdown-block
    .container
        .place-info
            .place-info__item.place-info__item_first
                .place-info__title.hover Поликлиника №1
                .place-info__hidden.place-info__hidden_left
                    .place-info__about
                        .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                    
                        .head-doctor
                            |Главный врач: 
                            span Грехова Татьяна Ивановна
                        
                        .main-contact__title 
                            span Руководство
                        
                        ul.main-contact__list
                            li
                                |Колл центр: 
                                a(href="tel:73432285933") +7 (343) 
                                    b 228-59-33
                            li
                                |Факс: 
                                a(href="tel:73432463587") +7 (343) 
                                    b 246-35-87
                            li Электронная почта: dmb9@mail.ru
                                        
            .place-info__item.place-info__item_second
                .place-info__plus
                .place-info__hidden.place-info__hidden_right
                    #main-mapInner          
                        
            
.container
    .slider-inner
        include ./slider-inner.pug
    
    
                        
