.top-inner.top-inner_spec
    .container
        h1.main-title Наши специалисты

        .breadcrumbs.breadcrumbs_white
            a(href="#") Главная            
            a(href="#") О нас
            a(href="#") Наши специалисты

include ./top-slider.pug

.container.container_specialist
    .page-block
        include ./sidebar.pug
        .content
            .specialist
                .specialist__img
                    img(src="img/spec-img.jpg")
                        
                .specialist__item        
                    ul.specialist__name
                        li Фамилия длинная
                        li Имя отчество
                         
                    .specialist__type Аллерголог - иммунолог, педиатр
                    
                    .specialist__info
                        ul.specialist__adress
                            li Принимает в клинике:
                            li г.Екатеринбург,
                            li ул.Алексеева, 7
                            
                        ul.specialist__phone
                            li Записаться:
                            li
                                a(href="tel:73432285933").specialist__phone-pink +7 (343)
                                    b 228-59-33
                            li
                                a(href="tel:73432285933").specialist__phone-black +7 (343)
                                    b 246-35-87           
                    
                    .specialist__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса 
                            b «Клиника года – 2019 Свердловская область» 
                            |по оценкам посетителей...
                        
                        p mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa enim. Donec pede justo, fringilla vel    
            .specialist
                .specialist__img
                    img(src="img/spec-img.jpg")
                        
                .specialist__item        
                    ul.specialist__name
                        li Фамилия длинная
                        li Имя отчество
                         
                    .specialist__type Аллерголог - иммунолог, педиатр
                    
                    .specialist__info
                        ul.specialist__adress
                            li Принимает в клинике:
                            li г.Екатеринбург,
                            li ул.Алексеева, 7
                            
                        ul.specialist__phone
                            li Записаться:
                            li
                                a(href="tel:73432285933").specialist__phone-pink +7 (343)
                                    b 228-59-33
                            li
                                a(href="tel:73432285933").specialist__phone-black +7 (343)
                                    b 246-35-87           
                    
                    .specialist__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса 
                            b «Клиника года – 2019 Свердловская область» 
                            |по оценкам посетителей...
                        
                        p mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa enim. Donec pede justo, fringilla vel
            .specialist
                .specialist__img
                    img(src="img/spec-img.jpg")
                        
                .specialist__item        
                    ul.specialist__name
                        li Фамилия длинная
                        li Имя отчество
                         
                    .specialist__type Аллерголог - иммунолог, педиатр
                    
                    .specialist__info
                        ul.specialist__adress
                            li Принимает в клинике:
                            li г.Екатеринбург,
                            li ул.Алексеева, 7
                            
                        ul.specialist__phone
                            li Записаться:
                            li
                                a(href="tel:73432285933").specialist__phone-pink +7 (343)
                                    b 228-59-33
                            li
                                a(href="tel:73432285933").specialist__phone-black +7 (343)
                                    b 246-35-87           
                    
                    .specialist__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса 
                            b «Клиника года – 2019 Свердловская область» 
                            |по оценкам посетителей...
                        
                        p mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa enim. Donec pede justo, fringilla vel    
            .specialist
                .specialist__img
                    img(src="img/spec-img.jpg")
                        
                .specialist__item        
                    ul.specialist__name
                        li Фамилия длинная
                        li Имя отчество
                         
                    .specialist__type Аллерголог - иммунолог, педиатр
                    
                    .specialist__info
                        ul.specialist__adress
                            li Принимает в клинике:
                            li г.Екатеринбург,
                            li ул.Алексеева, 7
                            
                        ul.specialist__phone
                            li Записаться:
                            li
                                a(href="tel:73432285933").specialist__phone-pink +7 (343)
                                    b 228-59-33
                            li
                                a(href="tel:73432285933").specialist__phone-black +7 (343)
                                    b 246-35-87           
                    
                    .specialist__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса 
                            b «Клиника года – 2019 Свердловская область» 
                            |по оценкам посетителей...
                        
                        p mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa enim. Donec pede justo, fringilla vel
            .specialist
                .specialist__img
                    img(src="img/spec-img.jpg")
                        
                .specialist__item        
                    ul.specialist__name
                        li Фамилия длинная
                        li Имя отчество
                         
                    .specialist__type Аллерголог - иммунолог, педиатр
                    
                    .specialist__info
                        ul.specialist__adress
                            li Принимает в клинике:
                            li г.Екатеринбург,
                            li ул.Алексеева, 7
                            
                        ul.specialist__phone
                            li Записаться:
                            li
                                a(href="tel:73432285933").specialist__phone-pink +7 (343)
                                    b 228-59-33
                            li
                                a(href="tel:73432285933").specialist__phone-black +7 (343)
                                    b 246-35-87           
                    
                    .specialist__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса 
                            b «Клиника года – 2019 Свердловская область» 
                            |по оценкам посетителей...
                        
                        p mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa enim. Donec pede justo, fringilla vel
            .specialist
                .specialist__img
                    img(src="img/spec-img.jpg")
                        
                .specialist__item        
                    ul.specialist__name
                        li Фамилия длинная
                        li Имя отчество
                         
                    .specialist__type Аллерголог - иммунолог, педиатр
                    
                    .specialist__info
                        ul.specialist__adress
                            li Принимает в клинике:
                            li г.Екатеринбург,
                            li ул.Алексеева, 7
                            
                        ul.specialist__phone
                            li Записаться:
                            li
                                a(href="tel:73432285933").specialist__phone-pink +7 (343)
                                    b 228-59-33
                            li
                                a(href="tel:73432285933").specialist__phone-black +7 (343)
                                    b 246-35-87           
                    
                    .specialist__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса 
                            b «Клиника года – 2019 Свердловская область» 
                            |по оценкам посетителей...
                        
                        p mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa enim. Donec pede justo, fringilla vel
            .specialist
                .specialist__img
                    img(src="img/spec-img.jpg")
                        
                .specialist__item        
                    ul.specialist__name
                        li Фамилия длинная
                        li Имя отчество
                         
                    .specialist__type Аллерголог - иммунолог, педиатр
                    
                    .specialist__info
                        ul.specialist__adress
                            li Принимает в клинике:
                            li г.Екатеринбург,
                            li ул.Алексеева, 7
                            
                        ul.specialist__phone
                            li Записаться:
                            li
                                a(href="tel:73432285933").specialist__phone-pink +7 (343)
                                    b 228-59-33
                            li
                                a(href="tel:73432285933").specialist__phone-black +7 (343)
                                    b 246-35-87           
                    
                    .specialist__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса 
                            b «Клиника года – 2019 Свердловская область» 
                            |по оценкам посетителей...
                        
                        p mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa enim. Donec pede justo, fringilla vel

    include ./pagination.pug

.container
    .slider-inner
        include ./slider-inner.pug
