.top-inner.top-inner_article
    .container
        h1.main-title.main-title_blue Отзывы

        .breadcrumbs.breadcrumbs_blue
            a(href="#") Главная            
            a(href="#") Отзывы

.container.articles
    .page-block
        include ./sidebar-info.pug
        .content
            .reviews-block
                .reviews-block__inner
                    .reviews-block__item.reviews-mb
                        img(src="img/rev.jpg")

                    .reviews-block__item
                        .reviews-block__date 
                            |30.08.2012 г.

                        .reviews-block__author
                            span Жилина Л.В.

                        .reviews-block__article    
                            p 
                                |Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ... 
                            .reviews-block__hidden
                                |Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ... 
                        .reviews-block__btn
                            a(href="#").btn-animate.reviews-show
                                span Читать
            .reviews-block
                .reviews-block__date 
                    |30.08.2012 г.

                .reviews-block__author
                    span Жилина Л.В.

                .reviews-block__article.reviews-block__article_grey    
                    p Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ...
                    .reviews-block__hidden
                        |Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ... 

                .reviews-block__btn.reviews-block__btn_bg
                    a(href="#").btn-animate.reviews-show
                        span Читать

            .reviews-block
                .reviews-block__inner
                    .reviews-block__item.reviews-mb
                        img(src="img/rev.jpg")

                    .reviews-block__item
                        .reviews-block__date 
                            |30.08.2012 г.

                        .reviews-block__author
                            span Жилина Л.В.

                        .reviews-block__article    
                            p Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ... 
                            .reviews-block__hidden
                                |Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ...

                        .reviews-block__btn
                            a(href="#").btn-animate.reviews-show
                                span Читать
            .reviews-block
                .reviews-block__date 
                    |30.08.2012 г.

                .reviews-block__author
                    span Жилина Л.В.

                .reviews-block__article.reviews-block__article_grey   
                    p Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ... 
                    .reviews-block__hidden
                        |Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ...

                .reviews-block__btn.reviews-block__btn_bg
                    a(href="#").btn-animate.reviews-show
                        span Читать        
            .reviews-block
                .reviews-block__date 
                    |30.08.2012 г.

                .reviews-block__author
                    span Жилина Л.В.

                .reviews-block__article.reviews-block__article_grey   
                    p Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ...
                    .reviews-block__hidden
                        |Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ... 

                .reviews-block__btn.reviews-block__btn_bg
                    a(href="#").btn-animate.reviews-show
                        span Читать
            .reviews-block
                .reviews-block__date 
                    |30.08.2012 г.

                .reviews-block__author
                    span Жилина Л.В.

                .reviews-block__article.reviews-block__article_grey    
                    p Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ... 
                    .reviews-block__hidden
                        |Большое спасибо за уютную, комфортную обстановку, созданную персоналом в вашем отделении. Забота, внимательность к каждому пациенту, независимо от возраста и характера. Мы уже второй раз в отделении, и когда пришли, знали, что все будет хорошо, не было ...

                .reviews-block__btn.reviews-block__btn_bg
                    a(href="#").btn-animate.reviews-show
                        span Читать


    include ./pagination.pug

    .slider-inner
        include ./slider-inner.pug
