.banner-menu
    .banner-menu__item
        img(src="img/girl.jpg").w100
        ul.banner-menu__article
            li детская городская
            li Клиническая <br>Больница №11
            li
                span давайте расти <br>вместе!

    .banner-menu__item
        a(href="#").link-box            
            .link-box__img
                img(src="img/micro.jpg")
            .link-box__hidden Диагностический центр

        .link-box.link-box_hidden
            .link-box__border
                .link-box__icon.link-box__icon_amb

                .link-box__about
                    b амбулаторно- <br> поликлиническая<br> 
                    span служба

            .list-hidden
                .list-hidden__title Поликлиническая <br>служба

                .list-hidden__inner
                    ul.list-hidden__link.list-hidden__link_top
                        li 
                            a(href="#") Как записаться на прием
                        li
                            a(href="#") Поликлиника №1
                        li
                            a(href="#") Поликлиника №2
                        li
                            a(href="#") Поликлиника №3
                        li
                            a(href="#") Поликлиника №4
                        li
                            a(href="#") Поликлиника №5
                        li
                            a(href="#") Поликлиника №6       

                    ul.list-hidden__link.list-hidden__link_bottom
                        li 
                            a(href="#") Школьное и дошкольное <br>отделения
                        li
                            a(href="#") Отделение <br>восстановительного лечения
                        li
                            a(href="#") Отделение неотложной <br>помощи

        .link-box
            .specialist-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="#")
                            .link-box__img
                                img(src="img/layer.jpg")

                            .link-box__name 
                                b кардиолог <br>
                                span Светлана Борисовна
                    .swiper-slide
                        a(href="#")
                            .link-box__img
                                img(src="img/layer.jpg")

                            .link-box__name 
                                b кардиолог <br>
                                span Светлана Борисовна
                    .swiper-slide
                        a(href="#")
                            .link-box__img
                                img(src="img/layer.jpg")

                            .link-box__name 
                                b кардиолог <br>
                                span Светлана Борисовна
                
                .swiper-button-next
                .swiper-button-prev
            
            .link-box__hidden Наши специалисты

        a(href="#").link-box
            .link-box__border
                span.b-dotted.b-top
                span.b-dotted.b-right
                span.b-dotted.b-bottom
                span.b-dotted.b-left
                    
                .link-box__icon.link-box__icon_sun

                .link-box__about
                    b Дневной <br> 
                    span стационар

                .link-box__details 
                    span Подробнее

        a(href="#").link-box
            .link-box__border
                span.b-dotted.b-top
                span.b-dotted.b-right
                span.b-dotted.b-bottom
                span.b-dotted.b-left
                    
                .link-box__icon.link-box__icon_all

                .link-box__about
                    b круглосуточный <br> 
                    span стационар

                .link-box__details 
                    span Подробнее

        a(href="#").link-box
            .link-box__border
                span.b-dotted.b-top
                span.b-dotted.b-right
                span.b-dotted.b-bottom
                span.b-dotted.b-left
                
                .link-box__icon.link-box__icon_heart

                .link-box__about
                    span Городской детский <br> 
                    b кардиологический <br>центр

                .link-box__details 
                    span Подробнее

        a(href="#").link-box
            .link-box__img
                img(src="img/doctor.png")
            .link-box__hidden Вопрос - ответ

        a(href="#").link-box
            .link-box__border
                span.b-dotted.b-top
                span.b-dotted.b-right
                span.b-dotted.b-bottom
                span.b-dotted.b-left
                    
                .link-box__icon.link-box__icon_center

                .link-box__about
                    b Платные <br> 
                    span услуги

                .link-box__details 
                    span Подробнее
         

        a(href="#").link-box            
            .link-box__img
                img(src="img/pacient.jpg")
            .link-box__hidden Полезно знать
