.top-inner.top-inner_article
    .container
        h1.main-title Новости
        
        .breadcrumbs.breadcrumbs_pink
            a(href="#") Главная            
            a(href="#") Новости
        
include ./top-slider.pug

.container.articles
    .page-block
        include ./sidebar.pug
        .content.content_articles
            .articles-block.articles-block_news
                .main-info__img.main-info__img_pz
                    a(href="#")
                        img(src="img/news.jpg")

                .main-info__article-wrap
                    .main-info__inner.main-info__inner_cont
                        .main-info__title ГОЛОСУЕМ ЗА ДГКБ 11 в конкурсе КЛИНИКА ГОДА-2019
                        .main-info__date 30/05/19
                        
                    .main-info__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса «Клиника года – 2019 Свердловская область» по оценкам посетителей...    
                .main-info__btn.main-info__btn_cont
                    a(href="#").btn-animate 
                        span Перейти к новости
            
            .articles-block.articles-block_news
                .main-info__img.main-info__img_pz
                    a(href="#")
                        img(src="img/news.jpg")
            
                .main-info__article-wrap
                    .main-info__inner.main-info__inner_cont
                        .main-info__title ГОЛОСУЕМ ЗА ДГКБ 11 в конкурсе КЛИНИКА ГОДА-2019
                        .main-info__date 30/05/19
                        
                    .main-info__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса «Клиника года – 2019 Свердловская область» по оценкам посетителей...    
                .main-info__btn.main-info__btn_cont
                    a(href="#").btn-animate 
                        span Перейти к новости
            
            .articles-block.articles-block_news
                .main-info__img.main-info__img_pz
                    a(href="#")
                        img(src="img/news.jpg")

                .main-info__article-wrap
                    .main-info__inner.main-info__inner_cont
                        .main-info__title ГОЛОСУЕМ ЗА ДГКБ 11 в конкурсе КЛИНИКА ГОДА-2019
                        .main-info__date 30/05/19
                        
                    .main-info__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса «Клиника года – 2019 Свердловская область» по оценкам посетителей...    
                .main-info__btn.main-info__btn_cont
                    a(href="#").btn-animate 
                        span Перейти к новости
            
            .articles-block.articles-block_news
                .main-info__img.main-info__img_pz
                    a(href="#")
                        img(src="img/news.jpg")

                .main-info__article-wrap
                    .main-info__inner.main-info__inner_cont
                        .main-info__title ГОЛОСУЕМ ЗА ДГКБ 11 в конкурсе КЛИНИКА ГОДА-2019
                        .main-info__date 30/05/19
                        
                    .main-info__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса «Клиника года – 2019 Свердловская область» по оценкам посетителей...    
                .main-info__btn.main-info__btn_cont
                    a(href="#").btn-animate 
                        span Перейти к новости
            
            .articles-block.articles-block_news
                .main-info__img.main-info__img_pz
                    a(href="#")
                        img(src="img/news.jpg")

                .main-info__article-wrap
                    .main-info__inner.main-info__inner_cont
                        .main-info__title ГОЛОСУЕМ ЗА ДГКБ 11 в конкурсе КЛИНИКА ГОДА-2019
                        .main-info__date 30/05/19
                        
                    .main-info__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса «Клиника года – 2019 Свердловская область» по оценкам посетителей...    
                .main-info__btn.main-info__btn_cont
                    a(href="#").btn-animate 
                        span Перейти к новости
            
            .articles-block.articles-block_news
                .main-info__img.main-info__img_pz
                    a(href="#")
                        img(src="img/news.jpg")

                .main-info__article-wrap
                    .main-info__inner.main-info__inner_cont
                        .main-info__title ГОЛОСУЕМ ЗА ДГКБ 11 в конкурсе КЛИНИКА ГОДА-2019
                        .main-info__date 30/05/19
                        
                    .main-info__article
                        p Выбираем лучшие медицинские учреждения в номинациях конкурса «Клиника года – 2019 Свердловская область» по оценкам посетителей...    
                .main-info__btn.main-info__btn_cont
                    a(href="#").btn-animate 
                        span Перейти к новости
    
    include ./pagination.pug
    
    .slider-inner
        include ./slider-inner.pug
    
    
                        
