.top-inner.top-inner_red
    .container
        h1.main-title Ваш вопрос - ответ от наших специалистов

        .breadcrumbs.breadcrumbs_white
            a(href="#") Главная            
            a(href="#") Вопрос - ответ

include ./top-slider.pug

.container
    .page-block
        include ./sidebar-info.pug
        .content
            .qa-block
                .question
                    .question__inner
                        .question__info
                            .question__num 
                                |31

                            ul.question__name
                                li Анастасия
                                li 14.04.2019

                        .question__article
                            h2.question__title Тема вопроса
                            p onec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. vulputate eget, arcu. In enimmassa quisjusto, rhoncus ut, imperdiet a, venenatis vitae, justo. ?

                    .question__btn-wrap        
                        a(href="#").btn-animate.btn-animate_blue.btn-animate_question
                            span Посмотреть ответ        
                .answear
                    .answear__inner
                        .answear__top
                            .answear__num
                                |31
                            .answear__title Ответ
                            .place-info__plus.close-answear

                        ul.answear__name
                            li Отвечает:
                            li Специализация, <br>
                                a(href="#") Фамилия Имя Отчество

                        .answear__article
                            p  mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et massa quismagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis

                            p In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis               
            .qa-block
                .question
                    .question__inner
                        .question__info
                            .question__num 
                                |31

                            ul.question__name
                                li Анастасия
                                li 14.04.2019

                        .question__article
                            h2.question__title Тема вопроса
                            p onec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. vulputate eget, arcu. In enimmassa quisjusto, rhoncus ut, imperdiet a, venenatis vitae, justo. ?

                    .question__btn-wrap        
                        a(href="#").btn-animate.btn-animate_blue.btn-animate_question
                            span Посмотреть ответ        
                .answear
                    .answear__inner
                        .answear__top
                            .answear__num
                                |31
                            .answear__title Ответ
                            .place-info__plus.close-answear

                        ul.answear__name
                            li Отвечает:
                            li Специализация, <br>
                                a(href="#") Фамилия Имя Отчество

                        .answear__article
                            p  mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et massa quismagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis

                            p In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis                       
            .qa-block
                .question
                    .question__inner
                        .question__info
                            .question__num 
                                |31

                            ul.question__name
                                li Анастасия
                                li 14.04.2019

                        .question__article
                            h2.question__title Тема вопроса
                            p onec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. vulputate eget, arcu. In enimmassa quisjusto, rhoncus ut, imperdiet a, venenatis vitae, justo. ?

                    .question__btn-wrap        
                        a(href="#").btn-animate.btn-animate_blue.btn-animate_question
                            span Посмотреть ответ        
                .answear
                    .answear__inner
                        .answear__top
                            .answear__num
                                |31
                            .answear__title Ответ
                            .place-info__plus.close-answear

                        ul.answear__name
                            li Отвечает:
                            li Специализация, <br>
                                a(href="#") Фамилия Имя Отчество

                        .answear__article
                            p  mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et massa quismagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis

                            p In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis                                       
            .qa-block
                .question
                    .question__inner
                        .question__info
                            .question__num 
                                |31

                            ul.question__name
                                li Анастасия
                                li 14.04.2019

                        .question__article
                            h2.question__title Тема вопроса
                            p onec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. vulputate eget, arcu. In enimmassa quisjusto, rhoncus ut, imperdiet a, venenatis vitae, justo. ?

                    .question__btn-wrap        
                        a(href="#").btn-animate.btn-animate_blue.btn-animate_question
                            span Посмотреть ответ        
                .answear
                    .answear__inner
                        .answear__top
                            .answear__num
                                |31
                            .answear__title Ответ
                            .place-info__plus.close-answear

                        ul.answear__name
                            li Отвечает:
                            li Специализация, <br>
                                a(href="#") Фамилия Имя Отчество

                        .answear__article
                            p  mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et massa quismagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis

                            p In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis                               
            .qa-block
                .question
                    .question__inner
                        .question__info
                            .question__num 
                                |31

                            ul.question__name
                                li Анастасия
                                li 14.04.2019

                        .question__article
                            h2.question__title Тема вопроса
                            p onec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. vulputate eget, arcu. In enimmassa quisjusto, rhoncus ut, imperdiet a, venenatis vitae, justo. ?

                    .question__btn-wrap        
                        a(href="#").btn-animate.btn-animate_blue.btn-animate_question
                            span Посмотреть ответ        
                .answear
                    .answear__inner
                        .answear__top
                            .answear__num
                                |31
                            .answear__title Ответ
                            .place-info__plus.close-answear

                        ul.answear__name
                            li Отвечает:
                            li Специализация, <br>
                                a(href="#") Фамилия Имя Отчество

                        .answear__article
                            p  mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et massa quismagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis

                            p In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis                               
            .qa-block
                .question
                    .question__inner
                        .question__info
                            .question__num 
                                |31

                            ul.question__name
                                li Анастасия
                                li 14.04.2019

                        .question__article
                            h2.question__title Тема вопроса
                            p onec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. vulputate eget, arcu. In enimmassa quisjusto, rhoncus ut, imperdiet a, venenatis vitae, justo. ?

                    .question__btn-wrap        
                        a(href="#").btn-animate.btn-animate_blue.btn-animate_question
                            span Посмотреть ответ        
                .answear
                    .answear__inner
                        .answear__top
                            .answear__num
                                |31
                            .answear__title Ответ
                            .place-info__plus.close-answear

                        ul.answear__name
                            li Отвечает:
                            li Специализация, <br>
                                a(href="#") Фамилия Имя Отчество

                        .answear__article
                            p  mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et massa quismagnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, massa quisultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis

                            p In enimmassa quis justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu massa quis                           


    include ./pagination.pug

.container
    form(action="#").add-question
        .add-question__item
            .add-question__title Задать вопрос
            .add-question__inner
                textarea.textarea
                    |Текст
                .add-question__inp
                    input(type="text" placeholder="Имя")
                    input(type="text" placeholder="+7 (XXX) XXX XX XX").phone-inp    


        .add-question__item
            .add-question__btn-wrap
                button(type="submit").btn-animate.btn-animate_blue 
                    span Задать вопрос
            
            .privacy  
                |Нажав на кнопку “Записаться” Вы соглашаетесь с условиями 
                a(href="#") публичной оферты 
                |и с 
                a(href="#") условиями Политики обработки персональных данных
            
            .capcha
                img(src="img/capcha.jpg")       


    .slider-inner
        include ./slider-inner.pug
