.top-inner.top-inner_article
    .container
        h1.main-title Статьи
        
        .breadcrumbs
            a(href="#") Главная            
            a(href="#") Статьи
        
include ./top-slider.pug
    
