.top-inner.top-inner_article-inner
    .container
        h1.main-title.main-title_blue.main-title_lower ГОЛОСУЕМ ЗА ДГКБ 11 в конкурсе КЛИНИКА ГОДА-2019

        .breadcrumbs.breadcrumbs_white
            a(href="#") Главная            
            a(href="#") Статьи
            a(href="#") Заголовок статьи

include ./top-slider.pug

.container.articles-inner
    .page-block
        include ./sidebar.pug
        .content.content_article-inner
            .articles-box
                .articles-box__img-box
                    .articles-box__img
                        img(src="img/innerpage-img.jpg")
                            
                    .articles-box__about vitae, justo. Nullam dictum felis eu pede

                .articles-box__text
                    h2.inner-title Заголовок статьи
                    
                    p Выбираем лучшие медицинские учреждения в номинациях конкурса 
                        b «Клиника года – 2019 Свердловская область» 
                        |по оценкам посетителей...

                    p mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra, feugiat a, tellus. P   

                    a(href="#").btn-animate 
                        span Вернуться к статьям

            h2.inner-title Что нас ждет
            
            p vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. elementum semper nisi. Aenean vulputate eleifend tAenean leo ligula, porttitor feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. massa dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem massa quisluctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. massa faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis

            .articles-box
                .articles-box__img-box
                    .articles-box__img
                        img(src="img/innerpage-img.jpg")
                    .articles-box__about vitae, justo. Nullam dictum felis eu pede

                .articles-box__text
                    h2.inner-title Что нас ждет
                    p Выбираем лучшие медицинские учреждения в номинациях конкурса 
                        b «Клиника года – 2019 Свердловская область» 
                        |по оценкам посетителей...

                    p mmodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra, feugiat a, tellus. P

            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis justo, fringilla vel, aliquet nec, massa quis vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer 

    .btn-more
        a(href="#").btn-animate 
            span Читать дальше

.container
    .slider-inner
        include ./slider-inner.pug
