.top-inner.top-inner_article
    .container
        h1.main-title Платные услуги

        .breadcrumbs.breadcrumbs_line-white
            a(href="#") Главная            
            a(href="#") Моя больница
            a(href="#") Дневной стационар

.service-slider.swiper-container
    .swiper-wrapper
        .swiper-slide
            .service-slider__item
                .service-slider__img
                    img(src="img/pu-sl.jpg")
                
                    .service-slider__logo
                        img(src="img/sl-logo.png")

                .service-slider__cont
                    ul.service-slider__title
                        li
                            |Центр здоровой семьи
                        li   
                            |Бассейны, диетолог, педиатр!

                    a(href="#").service-slider__link        
                        .service-slider__article
                            p К вашим услугам - 
                                b бассейны для грудничков и всей семьи, косметолог, диетолог, личный педиатр 
                                |и все необходимые узкие специалисты.
                            p А также Школа развития, водолечебница, кабинет охраны зрения, массаж.
                        
                        .service-slider__details Подробнее
                                       
        .swiper-slide
            .service-slider__item
                .service-slider__img
                    img(src="img/pu-sl.jpg")

                    .service-slider__logo
                        img(src="img/sl-logo.png")

                .service-slider__cont
                    ul.service-slider__title
                        li
                            |Центр здоровой семьи
                        li   
                            |Бассейны, диетолог, педиатр!

                    a(href="#").service-slider__link        
                        .service-slider__article
                            p К вашим услугам - 
                                b бассейны для грудничков и всей семьи, косметолог, диетолог, личный педиатр 
                                |и все необходимые узкие специалисты.
                            p А также Школа развития, водолечебница, кабинет охраны зрения, массаж.

                        .service-slider__details Подробнее
        .swiper-slide
            .service-slider__item
                .service-slider__img
                    img(src="img/pu-sl.jpg")

                    .service-slider__logo
                        img(src="img/sl-logo.png")

                .service-slider__cont
                    ul.service-slider__title
                        li
                            |Центр здоровой семьи
                        li   
                            |Бассейны, диетолог, педиатр!

                    a(href="#").service-slider__link        
                        .service-slider__article
                            p К вашим услугам - 
                                b бассейны для грудничков и всей семьи, косметолог, диетолог, личный педиатр 
                                |и все необходимые узкие специалисты.
                            p А также Школа развития, водолечебница, кабинет охраны зрения, массаж.

                        .service-slider__details Подробнее

    .swiper-button-next
    .swiper-button-prev

.container.articles
    .page-block
        include ./sidebar-service.pug
        .content
            .service-block
                .service-block__item
                    .service-block__img
                        img(src="img/bas.jpg")

                    .service-block__btn-wrap
                        a(href="#").btn-animate 
                            span Перейти    

                .service-block__item
                    ul.service-block__title
                        li Длинный заголовок
                        li Бассейн

                    .main-contact.main-contact_service
                        .main-contact__title 
                            span Адрес:
                        .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), <br>г. Екатеринбург, 
                            span.text-pink ул. Нагорная, д.48

                        .main-contact__title.main-contact__title_next
                            span Руководство

                        ul.main-contact__list.main-contact__list_service
                            li
                                |Врач | категории, заведущая: 
                                a(href="#").link-specialist Куткова Марина Николаевна
                            li
                                |Ст.мед.сестра: 
                                a(href="#").link-specialist Пакшаева Юлия Владимировна <br>
                                |тел. 
                                a(href="tel:73432324305") +7 (343) 232-43-05
            .service-block
                .service-block__item
                    .service-block__img
                        img(src="img/bas.jpg")

                    .service-block__btn-wrap
                        a(href="#").btn-animate 
                            span Перейти    

                .service-block__item
                    ul.service-block__title
                        li Длинный заголовок
                        li Бассейн

                    .main-contact.main-contact_service
                        .main-contact__title 
                            span Адрес:
                        .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), <br>г. Екатеринбург, 
                            span.text-pink ул. Нагорная, д.48

                        .main-contact__title.main-contact__title_next
                            span Руководство

                        ul.main-contact__list.main-contact__list_service
                            li
                                |Врач | категории, заведущая: 
                                a(href="#").link-specialist Куткова Марина Николаевна
                            li
                                |Ст.мед.сестра: 
                                a(href="#").link-specialist Пакшаева Юлия Владимировна <br>
                                |тел. 
                                a(href="tel:73432324305") +7 (343) 232-43-05
            .service-block
                .service-block__item
                    .service-block__img
                        img(src="img/bas.jpg")

                    .service-block__btn-wrap
                        a(href="#").btn-animate 
                            span Перейти    

                .service-block__item
                    ul.service-block__title
                        li Длинный заголовок
                        li Бассейн

                    .main-contact.main-contact_service
                        .main-contact__title 
                            span Адрес:
                        .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), <br>г. Екатеринбург, 
                            span.text-pink ул. Нагорная, д.48

                        .main-contact__title.main-contact__title_next 
                            span Руководство

                        ul.main-contact__list.main-contact__list_service
                            li
                                |Врач | категории, заведущая: 
                                a(href="#").link-specialist Куткова Марина Николаевна
                            li
                                |Ст.мед.сестра: 
                                a(href="#").link-specialist Пакшаева Юлия Владимировна <br>
                                |тел. 
                                a(href="tel:73432324305") +7 (343) 232-43-05
            .service-block
                .service-block__item
                    .service-block__img
                        img(src="img/bas.jpg")

                    .service-block__btn-wrap
                        a(href="#").btn-animate 
                            span Перейти    

                .service-block__item
                    ul.service-block__title
                        li Длинный заголовок
                        li Бассейн

                    .main-contact.main-contact_service
                        .main-contact__title 
                            span Адрес:
                        .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), <br>г. Екатеринбург, 
                            span.text-pink ул. Нагорная, д.48

                        .main-contact__title.main-contact__title_next 
                            span Руководство

                        ul.main-contact__list.main-contact__list_service
                            li
                                |Врач | категории, заведущая: 
                                a(href="#").link-specialist Куткова Марина Николаевна
                            li
                                |Ст.мед.сестра: 
                                a(href="#").link-specialist Пакшаева Юлия Владимировна <br>
                                |тел. 
                                a(href="tel:73432324305") +7 (343) 232-43-05

    include ./pagination.pug

    .slider-inner
        include ./slider-inner.pug
