.banner-menu
    .banner-menu__item
        img(src="img/girl.jpg").w100
        ul.banner-menu__article
            li детская городская
            li Клиническая <br>Больница №11
            li
                span давайте расти <br>вместе!

    .banner-menu__item
        a(href="#").link-box            
            .link-box__img
                img(src="img/micro.jpg")
            .link-box__hidden Диагностический центр

        .link-box.link-box_hidden
            .link-box__border
                .link-box__icon.link-box__icon_amb

                .link-box__about
                    b амбулаторно- <br> поликлиническая<br> 
                    span служба

            .list-hidden
                .list-hidden__title Поликлиническая <br>служба

                .list-hidden__inner
                    ul.list-hidden__link.list-hidden__link_top
                        li 
                            a(href="#") Как записаться на прием
                        li
                            a(href="#") Поликлиника №1
                        li
                            a(href="#") Поликлиника №2
                        li
                            a(href="#") Поликлиника №3
                        li
                            a(href="#") Поликлиника №4
                        li
                            a(href="#") Поликлиника №5
                        li
                            a(href="#") Поликлиника №6       

                    ul.list-hidden__link.list-hidden__link_bottom
                        li 
                            a(href="#") Школьное и дошкольное <br>отделения
                        li
                            a(href="#") Отделение <br>восстановительного лечения
                        li
                            a(href="#") Отделение неотложной <br>помощи

        .link-box
            .specialist-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href="#")
                            .link-box__img
                                img(src="img/layer.jpg")

                            .link-box__name 
                                b кардиолог <br>
                                span Светлана Борисовна
                    .swiper-slide
                        a(href="#")
                            .link-box__img
                                img(src="img/layer.jpg")

                            .link-box__name 
                                b кардиолог <br>
                                span Светлана Борисовна
                    .swiper-slide
                        a(href="#")
                            .link-box__img
                                img(src="img/layer.jpg")

                            .link-box__name 
                                b кардиолог <br>
                                span Светлана Борисовна
                
                .swiper-button-next
                .swiper-button-prev
            
            .link-box__hidden Наши специалисты

        a(href="#").link-box
            .link-box__border
                span.b-dotted.b-top
                span.b-dotted.b-right
                span.b-dotted.b-bottom
                span.b-dotted.b-left
                    
                .link-box__icon.link-box__icon_sun

                .link-box__about
                    b Дневной <br> 
                    span стационар

                .link-box__details 
                    span Подробнее

        a(href="#").link-box
            .link-box__border
                span.b-dotted.b-top
                span.b-dotted.b-right
                span.b-dotted.b-bottom
                span.b-dotted.b-left
                    
                .link-box__icon.link-box__icon_all

                .link-box__about
                    b круглосуточный <br> 
                    span стационар

                .link-box__details 
                    span Подробнее

        a(href="#").link-box
            .link-box__border
                span.b-dotted.b-top
                span.b-dotted.b-right
                span.b-dotted.b-bottom
                span.b-dotted.b-left
                
                .link-box__icon.link-box__icon_heart

                .link-box__about
                    span Городской детский <br> 
                    b кардиологический <br>центр

                .link-box__details 
                    span Подробнее

        a(href="#").link-box
            .link-box__img
                img(src="img/doctor.png")
            .link-box__hidden Вопрос - ответ

        .link-box.link-box_phone
            .link-box__border
                a(href="#")
                    span.b-dotted.b-top
                    span.b-dotted.b-right
                    span.b-dotted.b-bottom
                    span.b-dotted.b-left
                        
                    .link-box__icon.link-box__icon_center

                    .link-box__about
                        b Платные <br> 
                        span услуги
                        
                    .link-box__details 
                        span Подробнее
                
                .link-box__phone
                     a(href="#") 216 44 44  
         

        a(href="#").link-box            
            .link-box__img
                img(src="img/pacient.jpg")
            .link-box__hidden Полезно знать

.advantages
    .advantages__title 
        |Наши 
        b преимущества
        
    ul.advantages__list
        li
            .advantages__item
                b широкий спектр услуг<br> 
                |по медицинскому<br> обслуживанию детей
        li
            .advantages__item
                |качественное и доступное <br>
                b оказание медицинской помощи<br> маленьким пациентам
        li
            .advantages__item
                |лучшие специалисты <br>
                b в Екатеринбурге
            
        li
            .advantages__item
                |современное <br>
                b оборудование

.container
    .main-info
        .main-info__item
            h2.main-title Новости
            .main-info__box
                .main-info__top
                    .main-info__img
                        img(src="img/news-big.jpg")
                    
                    .main-info__article-wrap
                        .main-info__inner
                            .main-info__title 1 ИЮНЯ - день защиты детей от инфекций
                            .main-info__date 10/05/19
                        
                        .main-info__article
                            p День защиты детей – защити детей от инфекций. Под таким лозунгом пройдет в 11-й больнице детский праздник. Уже завтра, в субботу, больница будет...            
                
                .main-info__bottom         
                    .main-info__preview
                        .main-info__img-min
                            img(src="img/news-min.jpg")
                        
                        .main-info__article-min
                            .main-info__title.main-info__title_min КВН среди медсестер: искрометный медицинский юмор в действии
                            .main-info__date.main-info__date_min 10/05/19
                            p Краткое описание Краткое
                            
                    .main-info__preview
                        .main-info__img-min
                            img(src="img/news-min.jpg")
                        
                        .main-info__article-min
                            .main-info__title.main-info__title_min V международный саммит медицинских сестер проходит в 15 городах РФ
                            p Краткое описание Краткое
                    
                    .main-info__preview
                        .main-info__img-min
                            img(src="img/news-min.jpg")
                        
                        .main-info__article-min
                            .main-info__title.main-info__title_min На медсовете по итогам года наградили нашего хирурга Галину Коротницкую
                            .main-info__date.main-info__date_min 10/05/19              
                    
                    .main-info__btn
                        a(href="#").btn-animate 
                            span К другим новостям
        
        .main-info__item
            h2.main-title Полезно знать
            .main-info__box
                .main-info__top
                    .main-info__img.main-info__img_pz
                        img(src="img/pz-img.jpg")
                    
                    .main-info__article-wrap
                        .main-info__inner
                            .main-info__title ГОЛОСУЕМ ЗА ДГКБ 11 в конкурсе КЛИНИКА ГОДА-2019
                        
                        .main-info__article
                            p Выбираем лучшие медицинские учреждения в номинациях конкурса «Клиника года – 2019 Свердловская область» по оценкам посетителей...            
                
                .main-info__bottom         
                    .main-info__preview
                        .main-info__img-min
                            img(src="img/pz.jpg")
                        
                        .main-info__article-min
                            .main-info__title.main-info__title_min ГОЛОСУЕМ ЗА ДГКБ 11 в конкурсе КЛИНИКА ГОДА-2019
                            p Краткое описание Краткое
                            
                    .main-info__preview
                        .main-info__img-min
                            img(src="img/pz.jpg")
                        
                        .main-info__article-min
                            .main-info__title.main-info__title_min ГАСТРОЭНТЕРОЛОГ
                            ul
                                li - Дети от 1 года и до 18 лет 
                                li - Взрослые
                                li Любые проблемы ЖКТ
                                li 
                                    a(href="tel:73432164444") +7 (343) 216-44-44
                                li ул. 8 марта, 126     
                                    
                    
                    .main-info__preview
                        .main-info__img-min
                            img(src="img/pz.jpg")
                        
                        .main-info__article-min
                            .main-info__title.main-info__title_min КОНСУЛЬТАЦИЯ ПЕДИАТРА
                            p в удобное для вас время! Быстро и без очередей. ЗВОНИТЕ!
                            a(href="tel:73432164444").main-info__phone +7 (343) 216-44-44            
                    
                    .main-info__btn
                        a(href="#").btn-animate 
                            span К другим статьям
                         
        .main-info__item
            h2.main-title.main-title_blue Отзывы 
            .main-info__box
                .main-info__top            
                    .main-info__img.main-info__img_nm
                        img(src="img/otz.jpg")
                    
                    .main-info__link
                        a(href="#") Смотреть все отзывы
                
                .main-info__bottom
                    .action-banner
                        .action-banner__top
                            p Приглашаем всех
                            span на процедуру <br>в нашу водолечебницу!
                        
                        ul.action-banner__inner
                            li Сухие углекислые ванны!
                            li SPA - капсула
                        
                        .action-banner__img
                            img(src="img/proc.jpg")
                            ul.action-banner__present
                                li Каждая третья процедура
                                li В подарок!
                
    
    .info-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .info-slider__item
                    a(href="#")
                        img(src="img/ikb.jpg")
                            
            .swiper-slide
                .info-slider__item
                    a(href="#")
                        img(src="img/ikb.jpg")
                                              
            .swiper-slide                  
                .info-slider__item
                    a(href="#")
                        img(src="img/ikb.jpg")
            
                                              
                            
