.top-inner.top-inner_article
    .container.top-inner__header
        h1.main-title.main-title_inner.main-title_blue  Контакты
        p.top-inner__title Муниципальное автономное учреждение «Детская городская клиническая больница № 11» Сокращенное наименование: МАУ «ДГКБ № 11» 

.container
    .contacts
        .main-contact
            .main-contact__title 
                span Юридический адрес больницы:
            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), <br>г. Екатеринбург, ул. Алексеева, 7
            
            .head-doctor
                |Главный врач: 
                span Грехова Татьяна Ивановна
            
            .main-contact__title 
                span Руководство
            
            ul.main-contact__list
                li
                    |Колл центр: 
                    a(href="tel:73432285933") +7 (343) 
                        b 228-59-33
                li
                    |Факс: 
                    a(href="tel:73432463587") +7 (343) 
                        b 246-35-87
                li Электронная почта: dmb9@mail.ru
            
    .contact__title-group
        .main-title.main-title_blue.main-title_adress Поликлиническая служба
        a(href="#").link-hidden Перейти в раздел               
        
.dropdown-block
    .container
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Поликлиника №1
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner              
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Поликлиника №2
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner2                 
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Поликлиника №3
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner3                      
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Поликлиника №4
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner4
        .place-info-wrap
            .place-info__plus                
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Поликлиника №5
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner5  
        .place-info-wrap
            .place-info__plus            
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Поликлиника №6
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner6
        .place-info-wrap
            .place-info__plus                      
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Школьное и дошкольное отделение
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner7
        .place-info-wrap
            .place-info__plus                      
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Отделение восстановительного лечения
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner8  
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Отделение неотложной помощи
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner9  
        
.container
    .contact__title-group
        .main-title.main-title_adress Круглосуточный стационар
        a(href="#").link-hidden Перейти в раздел    

.dropdown-block
    .container
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Круглосуточный стационар
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner10 
        
        
.container
    .contact__title-group
        .main-title.main-title_adress Дневной стационар
        a(href="#").link-hidden Перейти в раздел    

.dropdown-block
    .container
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Дневной стационар
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner11 


.container
    .contact__title-group
        .main-title.main-title_blue.main-title_adress Городской детский кардиологический центр
        a(href="#").link-hidden Перейти в раздел    

.dropdown-block
    .container
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Городской детский кардиологический центр
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner12     
        
.container
    .contact__title-group
        .main-title.main-title_adress Детский диагностический центр
        a(href="#").link-hidden Перейти в раздел    

.dropdown-block
    .container
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Городской детский кардиологический центр
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner13      
        
.container
    .contact__title-group
        .main-title.main-title_adress Платные услуги
        a(href="#").link-hidden Перейти в раздел    

.dropdown-block
    .container
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Городской детский кардиологический центр
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner14   
            
        .place-info-wrap
            .place-info__plus                   
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Городской детский кардиологический центр
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner15
            
        .place-info-wrap
            .place-info__plus                         
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Городской детский кардиологический центр
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner16
                                  
        .place-info-wrap
            .place-info__plus
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Городской детский кардиологический центр
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner17
                            
        .place-info-wrap
            .place-info__plus                 
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Городской детский кардиологический центр
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner18
        
        .place-info-wrap
            .place-info__plus                    
            .place-info
                .place-info__item.place-info__item_first
                    .place-info__title.hover Городской детский кардиологический центр
                    .place-info__hidden.place-info__hidden_left
                        .place-info__about
                            .main-contact__adress 620134 Свердловская область, Областной Центр (Свердловская обл.), г. Екатеринбург, ул. Алексеева, 7
                        
                            .head-doctor
                                |Главный врач: 
                                span Грехова Татьяна Ивановна
                            
                            .main-contact__title 
                                span Руководство
                            
                            ul.main-contact__list
                                li
                                    |Колл центр: 
                                    a(href="tel:73432285933") +7 (343) 
                                        b 228-59-33
                                li
                                    |Факс: 
                                    a(href="tel:73432463587") +7 (343) 
                                        b 246-35-87
                                li Электронная почта: dmb9@mail.ru
                                            
                .place-info__item.place-info__item_second
                    .place-info__hidden.place-info__hidden_right
                        .main-mapInner#main-mapInner19
        
        
        
        
        
        
        
            
.container
    .slider-inner
        include ./slider-inner.pug
    
    
                        
