header.header
    ul.mobile-menu
        li
            .mobile-menu__inner
                a(href="#") Структура больницы
                .show-dropdown
                    
            ul.mobile-menu__dropdown
                li
                    a(href="#") Поликлиническая служба
                li
                    a(href="#") Круглосуточный стационар
                li
                    a(href="#") Дневной стационар
                li
                    a(href="#") Детский диагностический <br>центр
                li
                    a(href="#") Платные услуги
                li
                    a(href="#") Городской детский <br>кардиологический центр
                li
                    a(href="#") Неотложная помощь
            
        li
            .mobile-menu__inner
                a(href="#") Платные услуги
                .show-dropdown
                    
            ul.mobile-menu__dropdown
                li
                    a(href="#") Бассейн
                li
                    a(href="#") Кабинет косметолога
                li
                    a(href="#") Зубкинs Family
                li
                    a(href="#") Кабинет диетолога
                li
                    a(href="#") Водолечебница
                li
                    a(href="#") Консультация специалистов
                
        li
            .mobile-menu__inner
                a(href="#") Информация для <br>пациентов
                .show-dropdown
                    
            ul.mobile-menu__dropdown
                li
                    a(href="#") Важная информация
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Вопрос-ответ
                
        li
            .mobile-menu__inner
                a(href="#") О нас
                .show-dropdown
                    
            ul.mobile-menu__dropdown
                li
                    a(href="#") Наша история
                li
                    a(href="#") Сотрудники
                li
                    a(href="#") Администрация
                li
                    a(href="#") Новости
                li
                    a(href="#") СМИ о нас
                li
                    a(href="#") Вакансии
                li
                    a(href="#") Осуществление закупок
                li
                    a(href="#") Направления деятельности
                li
                    a(href="#") Технологии
                
        li
            a(href="#") Контакты
        
                
            
        
        
    .header-top
        .header-top__item
            a(href="#").logo-mobile
                img(src="img/logo-min.png")
                    
            form(action="#").form-search
                label.search.header-top__search
                    input(type="text" placeholder="Поиск")
                    button(type="submit").search__btn  
            
        .header-top__item
            .phone-box
                .phone-box__main
                    a(href="tel:73432047676") 
                        |+7 (343) 
                        b 204 76 76
                                
                ul.phone-box__hidden
                    li
                        a(href="tel:73432047676").phone-box__mob-phone 
                            |+7 (343) 
                            b 204 76 76
                        .phone-box__article 
                            |Единая городская<br> регистратура
                    li
                        a(href="tel:73432285933")
                            |+7 (343) 
                            b 228 59 33
                        .phone-box__article 
                            |Call центр ДГКБ №11
                    li
                        a(href="tel:73432712062")
                            |+7 (343) 
                            b 271 20 62
                        .phone-box__article 
                            |Неотложная помощь
                    li
                        a(href="tel:79126426128")
                            |+7 (912) 
                            b 642 61 28
                        .phone-box__article 
                            |“Горячая линия” <br>по вопросам записи<br> на прием
                    li
                        a(href="tel:79126246128")
                            |+7 (912) 
                            b 642 61 28
                        .phone-box__article 
                            |Платные услуги   
            
            button.modal-btn.modal-btn_header.full(type="button")
                span Записаться <br>на прием
            
            .change-version
                .change-version__img.cbutton.cbutton--effect-nikola
                    img(src="img/eye2.png")         
                .change-version__article
                    |Версия для <br>
                    b слабовидящих           
            
            .burger
                span
                span
                span
                span                            
    
    .header-bottom
        .header-bottom__inner.container
            .main-logo
                a(href="#")
                    img(src="img/logo.png")
            a(href="#").logo-sticky
                img(src="img/logo-min.png")            
            
            nav.main-nav
                .main-nav__line
                ul.main-nav__list
                    li.main-nav__first.tab-menu.active
                        a(href="#" menu="#menu_structure") Структура больницы
                    li.main-nav__second.tab-menu
                        a(href="#" menu="#menu_services") Платные услуги
                    li.main-nav__third.tab-menu
                        a(href="#" menu="#menu_info") Информация для пациентов
                    li.main-nav__fourth.tab-menu
                        a(href="#" menu="#menu_about") О нас
                    li.main-nav__fifth
                        a(href="#") Контакты
            
            .social
                a(href="#").fb.cbutton.cbutton--effect-nikola
                    span
                a(href="#").vk.cbutton.cbutton--effect-nikola
                    span
                a(href="#").inst.cbutton.cbutton--effect-nikola
                    span
                                              
            .phone-box.sticky-el
                .phone-box__main
                    a(href="tel:73432047676") 
                        |+7 (343) 
                        b 204 76 76
                                
                ul.phone-box__hidden
                    li
                        a(href="tel:73432047676").phone-box__mob-phone 
                            |+7 (343) 
                            b 204 76 76
                        .phone-box__article 
                            |Единая городская<br> регистратура
                    li
                        a(href="tel:73432285933")
                            |+7 (343) 
                            b 228 59 33
                        .phone-box__article 
                            |Call центр ДГКБ №11
                    li
                        a(href="tel:73432712062")
                            |+7 (343) 
                            b 271 20 62
                        .phone-box__article 
                            |Неотложная помощь
                    li
                        a(href="tel:79126426128")
                            |+7 (912) 
                            b 642 61 28
                        .phone-box__article 
                            |“Горячая линия” <br>по вопросам записи<br> на прием
                    li
                        a(href="tel:79126246128")
                            |+7 (912) 
                            b 642 61 28
                        .phone-box__article 
                            |Платные услуги   
            
            button.modal-btn.sticky-el.modal-btn_header.full(type="button")
                span Записаться <br>на прием
        
        .header-bottom__item
            .dropdowmmenu#menu_structure
                .container
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Поликлиническая служба
                        li
                            a(href="#") Круглосуточный стационар
                        li
                            a(href="#") Дневной стационар
                            
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Детский диагностический центр
                        li
                            a(href="#") Платные услуги
                        li
                            a(href="#") Городской детский <br>кардиологический центр
                            
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Неотложная помощь
            .dropdowmmenu#menu_services
                .container
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Бассейн
                        li
                            a(href="#") Кабинет косметолога
                        li
                            a(href="#") Зубкинs Family
                            
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Кабинет диетолога
                        li
                            a(href="#") Водолечебница
                        li
                            a(href="#") Консультация специалистов
            .dropdowmmenu#menu_info
                .container
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Важная информация
                        li
                            a(href="#") Отзывы
                        li
                            a(href="#") Вопрос-ответ
                            
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Полезные статьи
            .dropdowmmenu#menu_about
                .container
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Наша история
                        li
                            a(href="#") Сотрудники
                        li
                            a(href="#") Администрация
                            
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Новости
                        li
                            a(href="#") СМИ о нас
                        li
                            a(href="#") Вакансии
                    
                    ul.dropdowmmenu__list
                        li
                            a(href="#") Осуществление закупок
                        li
                            a(href="#") Направления деятельности
                        li
                            a(href="#") Технологии
