header.header
    .header-top
        .header-top__item
            .logo-mobile
                img(src="img/logo-min.png")
                    
            form(action="#").form-search
                label.search.header-top__search
                    input(type="text" placeholder="Поиск")
                    button(type="submit").search__btn  
            
        .header-top__item
            .phone-box
                .phone-box__main
                    a(href="tel:73432047676") 
                        |+7 (343) 
                        b 204 76 76
                    
                        
                ul.phone-box__hidden
                    li
                        a(href="tel:73432047676").phone-box__mob-phone 
                            |+7 (343) 
                            b 204 76 76
                        .phone-box__article 
                            |Единая городская<br> регистратура
                    li
                        a(href="tel:73432285933")
                            |+7 (343) 
                            b 228 59 33
                        .phone-box__article 
                            |Call центр ДГКБ №11
                    li
                        a(href="tel:73432712062")
                            |+7 (343) 
                            b 271 20 62
                        .phone-box__article 
                            |Неотложная помощь
                    li
                        a(href="tel:79126426128")
                            |+7 (912) 
                            b 642 61 28
                        .phone-box__article 
                            |“Горячая линия” <br>по вопросам записи<br> на прием
                    li
                        a(href="tel:79126246128")
                            |+7 (912) 
                            b 642 61 28
                        .phone-box__article 
                            |Платные услуги   
            
            button.modal-btn.full(type="button")
                span Записаться <br>на прием
            
            .change-version
                .change-version__img.cbutton.cbutton--effect-nikola
                    img(src="img/eye2.png")         
                .change-version__article
                    |Версия для <br>
                    b слабовидящих           
            
            .burger
                span
                span
                span
                span                            
                
                
            
