.sidebar
    .sidebar__heading.sidebar__heading_info Дневной стационар
    
    ul.sidebar__list
        li
            span.sidebar__title Гастроэнтерологический центр. <br>Дневной стационар №1
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Нефрологический. <br>Дневной стационар №2
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Кардиологический. <br>Дневной стационар №3
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Неврологический. <br>Дневной стационар №4
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Городской детский неврологический центр. <br>Дневной стационар №5
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Дневной стационар №6 <br>(при Поликлинике №5)
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
