.sidebar
    .sidebar__heading.sidebar__heading_info Информация для пациента
    
    ul.sidebar__list
        li
            span.sidebar__title Важная информация
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Отзывы
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Вопрос-ответ
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Полезные статьи
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
