.sidebar
    .sidebar__heading О нас
    
    ul.sidebar__list
        li
            span.sidebar__title Наша история
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Сотрудники
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Администрация
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Новости
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title СМИ о нас
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
                    
        li
            span.sidebar__title Вакансии
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
                    
        li
            span.sidebar__title Осуществление закупок
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
                    
        li
            span.sidebar__title Направление деятельности
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
                    
        li
            span.sidebar__title СМИ о нас
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
