.sidebar
    .sidebar__heading.sidebar__heading_info Платные услуги
    
    ul.sidebar__list
        li
            span.sidebar__title Бассейн
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Кабинет косметолога
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title ЗубкинsFamily
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Кабинет диетолога
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Водолечебница
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
        li
            span.sidebar__title Консультации специалистов
            ul.sidebar__hidden
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы
                li
                    a(href="#") Заголовок страницы в две строки
                li
                    a(href="#") Заголовок страницы
