.sidebar
    .sidebar__heading.sidebar__heading_info Структура больницы

    ul.sidebar__list
        li
            span.sidebar__title Амбулаторно-поликлиническая служба
            ul.sidebar__hidden
                li
                    a(href="#") Как записаться на прием
                li
                    a(href="#") Поликлиника №1
                li
                    a(href="#") Поликлиника №2
                li
                    a(href="#") Поликлиника №3
                li
                    a(href="#") Поликлиника №4
                li
                    a(href="#") Поликлиника №5
                li
                    a(href="#") Поликлиника №6
                li
                    a(href="#") Школьное и дошкольное отделения
                li
                    a(href="#") Отделение восстановительного лечения
                li
                    a(href="#") Отделение неотложной помощи
        li
            span.sidebar__title Круглосуточный стационар
            ul.sidebar__hidden
                li
                    a(href="#") Приемное отделение
                li
                    a(href="#") Педиатрическое отделение детей раннего возраста
                li
                    a(href="#") Педиатрическое отделение детей старшего возраста
                li
                    a(href="#") Кардиоревматологическое отделение
                li
                    a(href="#") Отделение реанимации и интенсивной терапии
                li
                    a(href="#") Круглосуточный соматический стационар
        li
            span.sidebar__title Дневной стационар
            ul.sidebar__hidden
                li
                    a(href="#") Гастроэнтерологический центр. Дневной стационар №1
                li
                    a(href="#") Нефрологический. Дневной стационар №2
                li
                    a(href="#") Кардиологический. Дневной стационар №3
                li
                    a(href="#") Неврологический. Дневной стационар №4
                li
                    a(href="#") Городской детский неврологический центр. Дневной стационар №5
                li
                    a(href="#") Дневной стационар №6 (при Поликлинике №5)

        li
            span.sidebar__title Городской детский кардиологический центр
            ul.sidebar__hidden
                li
                    a(href="#") Консультативно-диагностическое отделение
                li
                    a(href="#") Дневной кардиологический стационар 
                li
                    a(href="#") Круглосуточный кардиологический стационар 
                li
                    a(href="#") Отделение реанимации и интенсивной терапии

        li
            span.sidebar__title Детский диагностический центр
            ul.sidebar__hidden
                li
                    a(href="#") Методы диагностики в ГДКЦ и подготовка к обследованиям
                li
                    a(href="#") Отделение лучевой диагностики
                li
                    a(href="#") Отделение функциональной диагностики
                li
                    a(href="#") Клинико-диагностическая лаборатория
                li
                    a(href="#") Микробиологическая лаборатория
                li
                    a(href="#") ИФА
        li
            span.sidebar__title Платные услуги
            ul.sidebar__hidden
                li
                    a(href="#") Бассейн
                li
                    a(href="#") Кабинет косметолога
                li
                    a(href="#") Зубкинs Family
                li
                    a(href="#") Кабинет диетолога
                li
                    a(href="#") Водолечебница
                li
                    a(href="#") Консультации специалистов
