.info-slider.swiper-container.wow.slideInLeft(data-wow-duration="1.5s" data-wow-offset="10")
    .swiper-wrapper
        .swiper-slide
            .info-slider__item
                a(href="#")
                    img(src="img/ikb.jpg")

        .swiper-slide
            .info-slider__item
                a(href="#")
                    img(src="img/ikb.jpg")

        .swiper-slide                  
            .info-slider__item
                a(href="#")
                    img(src="img/ikb.jpg")
