.top-slider.swiper-container
    .swiper-wrapper
        .swiper-slide
            .top-slider__item.top-slider__item_pink
                a(href="#")
                    .top-slider__img
                        img(src="img/top-sl-2.jpg")
                    
                    .top-slider__cont
                        .top-slider__inner            
                            .top-slider__title Работает бассейн!
                            .top-slider__article 
                                p atibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium 
                            .top-slider__link
                                span Подробнее
        .swiper-slide
            .top-slider__item.top-slider__item_blue
                a(href="#")
                    .top-slider__img
                        img(src="img/top-sl-1.jpg")
                    
                    .top-slider__cont
                        .top-slider__inner   
                            .top-slider__title.top-slider__title_blue Занятия в нашем бассейне <br>с малышами от 1 года до 7 лет
                            .top-slider__article 
                                p atibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium 
                            .top-slider__link
                                span Подробнее                        
        .swiper-slide
            .top-slider__item.top-slider__item_pink
                a(href="#")
                    .top-slider__img
                        img(src="img/top-sl-3.jpg")
                    
                    .top-slider__cont
                        .top-slider__inner   
                            .top-slider__title Детская стоматология <br>Совсем не больно!
                            .top-slider__article 
                                p atibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium 
                            .top-slider__link
                                span Подробнее
    
    .swiper-button-next
    .swiper-button-prev        
