extends ../layout/layout.pug
block vars
	- var title = 'Статьи';
block header
	include ../includes/header.pug
block content
	include ../includes/content-articles.pug
block footer
	include ../includes/footer.pug     
              
