extends ../layout/layout.pug
block vars
	- var title = 'Информация для пациента';
block header
	include ../includes/header.pug
block content
	include ../includes/content-info.pug
block footer
	include ../includes/footer.pug     
              
