extends ../layout/layout.pug
block vars
	- var title = 'Отзывы';
block header
	include ../includes/header.pug
block content
	include ../includes/content-reviews.pug
block footer
	include ../includes/footer.pug     
              
