extends ../layout/layout.pug
block vars
	- var title = 'Платные услуги';
block header
	include ../includes/header.pug
block content
	include ../includes/content-services.pug
block footer
	include ../includes/footer.pug     
              
