extends ../layout/layout.pug
block vars
	- var title = 'Дневной стационар';
block header
	include ../includes/header.pug
block content
	include ../includes/content-stacionar.pug
block footer
	include ../includes/footer.pug     
              
